@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --veryDarkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);

  --darkGrayishMagenta: hsl(303, 10%, 53%);
  --lightGrayishMagenta: hsl(300, 24%, 96%);
}
body {
  padding: 0rem 0rem;
  margin: 0rem 0rem;
}
html {
  font-family: "Spartan", sans-serif;
}
.head {
  font-size: xx-large;

  width: 100%;
}
.text-purple {
  color: var(--veryDarkMagenta);
}

.text-pink {
  color: var(--softPink);
  /* padding-left: 0.5rem; */
  margin-top: 1rem;
  font-weight: normal;
}
.tab {
  margin: auto;
  height: auto;
  width: 95%;
  background-color: var(--lightGrayishMagenta);
  margin-top: 1rem;
  padding: 0rem 1rem;
  font-weight: bolder;
  border-radius: 0.5rem;
  width: 90%;
}
.tab-purple {
  background-color: var(--veryDarkMagenta);
  padding: 2rem 2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  max-width: 15rem;
}
.space {
  width: 100%;
  margin-bottom: 2rem;
}
.container > p {
  /* font-size: x-small; */
}
.star {
  height: 15px;
  width: 15px;
}
.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  justify-self: flex-start;
  display: inline;
  grid-row: 1;
  grid-column: 1;
}
.img1 {
}
.reviewer-name {
  color: white;
  grid-row: 1;
  grid-column: 2 / span 3;
  font-size: smaller;
  font-weight: bold;
  padding-left: 1rem;
}
.star-text {
  font-size: smaller;
}
.half-space {
  margin-top: 0.3rem;
}
.reviewer-text {
  grid-row: 2;
  grid-column: 1 / span 6;
  text-align: left;
  color: white;
  font-size: smaller;
  padding-top: 2rem;
}

.head-container {
  display: flex;
  justify-content: flex-start;
}

.container {
  width: auto;
  height: auto;
  text-align: center;
  justify-content: center;
  padding: 1rem 1.601rem;
}
/* desktop */
@media (min-width: 769px) {
  h2 {
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    font-weight: bolder;

    font-size: xx-large;
    text-align: left;
  }
  #top-img-mobile {
    display: none;
  }
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg);
    background-position: top 0px;

    background-repeat: no-repeat;
  }
  .container {
    /* margin-top: -13rem; */
    background-image: url(./images/bg-pattern-bottom-desktop.svg);
    background-position: right top 115px;
    background-repeat: no-repeat;
    /* margin-bottom: -25rem; */
    width: auto;
    display: grid;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    padding: 8rem 10rem;
  }
  .heading-container {
    grid-row: 1;
    text-align: left;
    grid-column: 1 / span 1;
    max-width: 22rem;
  }
  .stars {
    grid-column: 2 / span 3;
    grid-row: 1;
  }
  .tab {
    width: 60%;
    padding: 1rem 1rem 1rem 1rem;
    text-align: left;
  }
  .tab > p {
    display: inline;
  }
  .star-text {
    padding-left: 1rem;
  }
  #bottom-img-mobile {
    display: none;
  }
  #startab-1 {
    margin-left: 10rem;
  }
  #startab-2 {
    margin-left: 12rem;
  }
  #startab-3 {
    margin-left: 14rem;
  }
  .space {
    display: none;
  }
  .reviews {
    margin-top: 4rem;
    grid-row: 2;
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: row;
  }
  .tab-purple {
    max-width: 20rem;
    margin-right: 2.5rem;
    font-size: smaller;
    height: 10rem;
  }
  #review1 {
  }
  #review2 {
    margin-top: 2rem;
  }
  #review3 {
    margin-top: 4rem;
  }
}

/* for mobile */
@media (max-width: 768px) {
  .tab {
    padding: 1rem;
  }

  .tab > p {
    margin: 0rem 0rem;
    padding: 0.2rem 0rem;
  }
  #top-img-mobile {
    display: inline;
  }
  #bottom-img-mobile {
    display: inline;
  }
  .container {
    margin-top: -13rem;
    display: flex;
    flex-direction: column;
    margin-bottom: -25rem;
  }
  .tab {
  }
}
